In [1]:
# Dependencies and Setup
import pandas as pd

# Loading Files
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_csv)
student_data = pd.read_csv(student_csv)

# Combine the data into a single dataset.  
school_full = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_full.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635

In [84]:
### DISTRICT SUMMARY
schools_count = len(school_full["school_name"].value_counts())
school_count = len(school_data)
print(school_count)

stu_count = school_full["Student ID"].count()
student_count = "{:,}".format(len(student_data))
print(student_count)

total_budget = "${:,.2f}".format(school_data["budget"].sum())
print(total_budget)

avg_math = school_full["math_score"].mean()
print(avg_math)

avg_read = school_full["reading_score"].mean()
print(avg_read)

count_pass_math = sum(x >=70 for x in school_full["math_score"])
perc_pass_math = "{:.2%}".format(count_pass_math/stu_count)
print(perc_pass_math)

count_pass_read = sum(x >=70 for x in school_full["reading_score"])
perc_pass_read = "{:.2%}".format(count_pass_read/stu_count)
print(perc_pass_read)

overall_pass = school_full.loc[(school_full["math_score"]>=70)&(school_full["reading_score"]>=70)]
perc_overall_pass = "{:.2%}".format((len(overall_pass)/stu_count))
print(perc_overall_pass)

dist_data = [{"Total Schools": school_count,"Total Students": stu_count,"Total Budget": total_budget,
              "Average Math Score": avg_math,"Average Reading Score": avg_read,
             "% Passing Math": perc_pass_math,"% Passing Reading": perc_pass_read,
             "% Overall Passing": perc_overall_pass}]

15
39,170
$24,649,428.00
78.98537145774827
81.87784018381414
74.98%
85.81%
65.17%

In [85]:
### DISTRICT SUMMARY DATAFRAME

district_df = pd.DataFrame(dist_data)
display(district_df)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.98%,85.81%,65.17%